<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city}} {{/link-to}}</h2>
  </div>
      <div class="panel-body">
      {{#if isImageShowing }}
        <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
      {{else}}
        <div class="form-group">
          <button class="btn btn-primary" {{action 'imageShow'}}>Show Image</button>
        </div>
      {{/if}}
    </div>
</div>
